<div id="<%= dom_id manage %>">
  <p>
    <strong>Name:</strong>
    <%= manage.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= manage.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= manage.user_id %>
  </p>

</div>
